<template name="modal_select">
  <div class="modal fade in" id="model_select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Select Venues</h4>
        </div>
        <div class="modal-body">
            Please select venues to export.
        </div>
      </div>
    </div>
  </div>
</template>
